<div class="modal-header">
  <h4 class="modal-title">
    {{ titleModal }}
  </h4>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="activeModal.close()">
  </button>
</div>

<div class="modal-body">

  <dx-accordion [dataSource]="configSection()"
                [collapsible]="true"
                [multiple]="true"
                noDataText="Cargando Formulario..."
                [animationDuration]="300">
    <div *dxTemplate="let section of 'title'">
      <span class="text-carmine">
        {{ section.Descripcion | titlecase }}
      </span>
    </div>
    <div *dxTemplate="let section of 'item'">

      @for (_component of section.components; track _component.ID) {
        @if (_component.Estado === 'ACT') {
          @switch (_component.IDTipoComp) {
            @case (1) {
              <div class="dx-field dx-field-top-label">
                <div class="dx-field-label">
                  {{ _component.Descripcion }}
                  <span *ngIf="_component.Obligatorio"
                        class="text-md-danger">*</span>
                </div>
                <div class="dx-field-value">
                  <dx-select-box [items]="_component.Atributo"
                                 valueExpr="code"
                                 displayExpr="display"
                                 placeholder="Opción"
                  />
                </div>
              </div>
            }
            @case (2) {
              <div class="dx-field dx-field-top-label">
                <div class="dx-field-label">
                  {{ _component.Descripcion }}
                  <span *ngIf="_component.Obligatorio"
                        class="text-md-danger">*</span>
                </div>
                <div class="dx-field-value">
                  <dx-number-box [format]="'fixedPoint'"
                                 placeholder="Opción"
                  />
                </div>
              </div>
            }
            @case (3) {
              <div class="dx-field dx-field-top-label">
                <div class="dx-field-label">
                  {{ _component.Descripcion }}
                  <span *ngIf="_component.Obligatorio"
                        class="text-md-danger">*</span>
                </div>
                <div class="dx-field-value">
                  <dx-text-box [showClearButton]="true"
                               placeholder="..."
                  ></dx-text-box>
                </div>
              </div>
            }
            @case (4) {
              <dx-check-box class="dx-field-checkbox bold"
                            [width]="'100%'"
                            [text]="_component.Descripcion"
              />
            }

          }
        }
      }
    </div>
  </dx-accordion>

</div>

<div class="modal-footer">
  <button type="button"
          class="btn btn-primary"
          (click)="activeModal.close()">
    Cerrar visualización
  </button>
</div>

