<div class="modal-header d-flex justify-content-between">
  <h4 class="modal-title">
    {{titleModal}}
  </h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.close()">
    <i class="feather icon-x-circle"></i>
  </button>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">

        <div class="form-group form-default row">
          <label class="col-sm-12 col-form-label">Nombre</label>
          <div class="col-sm-12">
            <dx-text-box formControlName="Nombre"/>
          </div>
        </div>

        <div class="form-group form-default row">
          <label class="col-sm-12 col-form-label">Dirección</label>
          <div class="col-sm-12">
            <dx-text-box formControlName="Direccion"/>
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="form-group form-default row">
          <label class="col-sm-12 col-form-label">Teléfono</label>
          <div class="col-sm-12">
            <dx-text-box formControlName="Telefono"/>
          </div>
        </div>

        <div class="form-group form-default row">
          <label class="col-sm-12 col-form-label">Estado</label>
          <div class="col-sm-12">
            <dx-select-box [dataSource]="status$ | async"
                           displayExpr="label"
                           valueExpr="value"
                           formControlName="Estado"
            />
          </div>
        </div>

      </div>

    </div>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-danger mr-2"
            (click)="activeModal.close()">
      Cancelar
    </button>
    <button type="submit"
            class="btn btn-primary">
      Guardar
    </button>
  </div>
</form>
