<form [formGroup]="itemForm" (ngSubmit)="saveModuleInRol()" class="mb-3">
  <div class="row justify-content-center">
    <div class="col-md-6 col-sm-12">
      <div class="card">
        <div class="card-header bg-warning text-center font-weight-bold f-14">
          Configuración Aplicación - Rol
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-12">
              <div class="dx-field dx-field-top-label">
                <div class="dx-field-label">
                  Rol
                </div>
                <dx-select-box class="dx-field-value"
                               [dataSource]="lsRoles$ | async"
                               displayExpr="Descripcion"
                               valueExpr="ID"
                               formControlName="IdRol"
                               [showClearButton]="true"
                />
              </div>
            </div>
          </div>
        </div>
        <section class="card-footer">
          <div class="d-flex align-items-center justify-content-end">
            <button class="btn btn-outline-primary"
                    [disabled]="itemForm.invalid"
                    type="submit">
              Guardar Opción(es)
            </button>
          </div>
        </section>
      </div>
    </div>
  </div>
</form>

<app-card [cardTitle]="'Configuración Menú - Rol'">


  <div class="row">
    <div class="col-md-12">
      <dx-tree-list #dxTreeData
                    keyExpr="ID"
                    parentIdExpr="IDPadre"
                    [columnAutoWidth]="true"
                    [columnHidingEnabled]="true"
                    [columnMinWidth]="50"
                    [columnResizingMode]="'widget'"
                    [dataSource]="listModules()"
                    [highlightChanges]="true"
                    [hoverStateEnabled]="true"
                    [rootValue]="null"
                    [showRowLines]="true"
                    [showBorders]="true"
                    [wordWrapEnabled]="true"
                    [columnFixing]="{enabled:true}"
                    [headerFilter]="{visible:false}"
                    [filterRow]="{visible:false}"
                    (onToolbarPreparing)="onToolbarPreparing($event)">

        <!--#region Config. DxDataGrid -->
        <dxo-selection mode="multiple"
                       [recursive]="true"
        />
        <dxo-sorting mode="multiple"/>

        <dxo-column-chooser mode="select"
                            [allowSearch]="true"
                            [enabled]="true"
        />

        <dxo-paging [enabled]="true"
                    [pageSize]="10"
        />
        <dxo-pager [showPageSizeSelector]="true"
                   [allowedPageSizes]="[10,20,30,50]"
                   [showInfo]="true"
        />
        <dxo-search-panel [visible]="true"
                          [width]="300"
        />
        <!--#endregion -->

        <dxi-column caption="Código"
                    dataField="ID"
                    [allowSorting]="false"
                    [width]="120"
        ></dxi-column>
        <dxi-column caption="Icono"
                    dataField="icon"
                    alignment="center"
                    [allowSorting]="false"
                    [cellTemplate]="'iconCell'"
                    [width]="120"
        ></dxi-column>
        <dxi-column caption="Módulo"
                    dataField="name"
                    [allowSorting]="false"
        ></dxi-column>
        <dxi-column caption="Ruta"
                    [allowSorting]="false"
                    dataField="state"
        ></dxi-column>
        <!-- iconCell -->
        <div *dxTemplate="let data of 'iconCell'">
          <i class="text-danger {{ data.value }}"></i>
        </div>
        <!-- iconCell -->
      </dx-tree-list>
    </div>
  </div>


</app-card>
