<div class="card"
     [ngClass]="cardClass" [@cardRemove]="cardRemove" #toAnimate>
  <!-- animates animatesInitMode="show" [animatesOnInit]="{useVisibility: false, disabled: true}" -->
  <div class="card-header" *ngIf="!hidHeader" [ngClass]="headerClass">
    @if (customHeader) {
      <ng-content select=".app-card-header"></ng-content>
    } @else {
      <h5>{{ cardTitle }}</h5>
      @if (cardCaption) {
        <p [ngClass]="captionClass">{{ cardCaption }}</p>
      }
    }
  </div>

  <div [@collapsedCard]="collapsedCard" *ngIf="this.options; else subMenuContent">
    <ng-container *ngTemplateOutlet="subMenuContent"></ng-container>
  </div>
  <ng-template #subMenuContent>
    <div class="card-body mt-3" [ngClass]="blockClass">
      <ng-content></ng-content>
    </div>
  </ng-template>

  @if (isCardFooter) {
    <div class="card-footer" [ngClass]="footerClass">
      <ng-content select=".app-card-footer"></ng-content>
    </div>
  }
  @if (loadCard) {
    <div class="card-loader">
      <i class="pct-loader1 anim-rotate"></i>
    </div>
  }
</div>
