<app-card [cardTitle]="'Formulario'" class="mb-2">
  <dx-form [formData]="dataForm()"
           colCount="2"
           [readOnly]="true">
    <dxi-item dataField="Descripcion"
              [label]="{text:'Nombre'}"
    ></dxi-item>
    <dxi-item dataField="Observacion"
              [label]="{text:'Observación'}"
    ></dxi-item>
    <dxi-item dataField="created_at"
              [label]="{text:'Fecha de Creación'}"
              editorType="dxDateBox"
              [editorOptions]="{displayFormat:'MMMM dd, yyyy'}"
    ></dxi-item>
    <dxi-item dataField="Estado"
              [label]="{text:'Estado'}"
    ></dxi-item>
  </dx-form>
  <div class="row mt-2">
    <div class="col-md-12 d-flex flex-row justify-content-end gap-2">
      <button class="btn btn-danger"
              (click)="cancel()">
        Cancelar
      </button>
      <button class="btn btn-primary"
              (click)="save()"
              *ngIf="lsSeccion.length > 0">
        Guardar
      </button>
    </div>

  </div>
</app-card>

<app-card [hidHeader]="true" class="mb-2">
  <div class="row">
    <div class="col-md-12 flex d-flex align-items-center justify-content-between">
      <h5 class="font-weight-bold">
        Sección
      </h5>
      <button class="btn btn-sm btn-primary" (click)="newSection()">
        <i class="far fa-plus"></i>
        Agregar Sección
      </button>
    </div>
  </div>
</app-card>

<div class="row">
  <div class="col-lg-6 col-md-12 col-sm-12"
       *ngFor="let section of lsSeccion(); let idx = index ">

    <app-item-section [section]="section"
                      [idx]="idx">

      <app-item-component *ngFor="let component of section.componentes; let idxComp = index"
                          [component]="component"
                          [typeComponent]="component.IDTipoComp"
      />

    </app-item-section>

  </div>

</div>
