<section class="container-form">

  <app-card [cardTitle]="'Formulario'"
            [cardClass]="'mb-2'">
    <app-details-form [dataForm]="dataForm()"/>
    <div class="row mt-2">
      <section class="col-md-12 d-flex flex-row justify-content-between">
        <button class="btn btn-outline-secondary"
                (click)="previewConfig()">
          Preview Configuración
        </button>

        <section class="d-flex gap-2">
          <button class="btn btn-danger"
                  (click)="cancel()">
            Cancelar
          </button>
          @if (lsSection().length > 0) {
            <button class="btn btn-primary"
                    (click)="save()">
              Guardar
            </button>
          }
        </section>

      </section>

    </div>
  </app-card>

  <app-card [hidHeader]="true"
            [cardClass]="'mb-2'">
    <div class="row">
      <div class="col-md-12 flex d-flex align-items-center justify-content-between">
        <h5 class="font-weight-bold">
          Cantidad de Sección: {{ lsSection().length }}
        </h5>
        <button class="btn btn-sm btn-primary"
                (click)="newSection()">
          <i class="far fa-plus"></i>
          Agregar Sección
        </button>
      </div>
    </div>
  </app-card>

  <div class="row">
    @for (section of lsSection(); track section.ID; let idxSection = $index) {
      <div class="col-12">

        <app-item-section [section]="section"
                          cdkDropList
                          (cdkDropListDropped)="drop($event, idxSection)"
                          [idx]="idxSection">
          @for (component of section.componentes; track component.ID; let idxComponent = $index) {
            <app-item-component [idx]="idxComponent"
                                [typeDescriptionComponent]="component.idTipoComp.Descripcion"
                                [idxSection]="idxSection"
                                [component]="component"
                                [typeComponent]="component.IDTipoComp"
                                cdkDrag
            />
          }
        </app-item-section>

      </div>
    }


  </div>

</section>
