<div class="modal-header">
  <h4 class="modal-title">
    {{ titleModal }}
  </h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.close()">
    <i class="feather icon-close"></i>
  </button>
</div>
<form [formGroup]="itemForm" (ngSubmit)="submit()">
  <div class="modal-body">
    <div class="row">
      <div class="col">
        <app-item-control titleControl="Descripción">
          <dx-text-box formControlName="Descripcion"/>
        </app-item-control>
        <app-item-control titleControl="">
          <dx-check-box formControlName="allowInspection"
                        [text]="'Permitir realizar inspección?'"/>
        </app-item-control>
        <app-item-control titleControl="Observación">
          <dx-text-box formControlName="Observacion"/>
        </app-item-control>
        <app-item-control titleControl="Estado">
          <dx-select-box [dataSource]="status$ | async"
                         displayExpr="label"
                         valueExpr="value"
                         formControlName="Estado"
                         [searchEnabled]="true"
          />
        </app-item-control>
      </div>

    </div>
  </div>
  <div class="modal-footer p-1">
    <button type="reset"
            class="btn btn-outline-danger mr-2"
            (click)="activeModal.close()">
      Cancelar
    </button>
    <button type="submit"
            class="btn btn-primary"
            [disabled]="itemForm.invalid"
            [ngClass]="{'btn-disabled': itemForm.invalid}">
      <i class="feather icon-save"></i>
      Guardar
    </button>
  </div>
</form>
