<app-card cardTitle="Listado Inspección - Construcción">
  <dx-data-grid #dataGridComponent
                id="gridInspectionConstruction"
                [dataSource]="gridDataSource"
                [showBorders]="true"
                [rowAlternationEnabled]="true"
                [allowColumnReordering]="true"
                (onToolbarPreparing)="onToolbarPreparing($event)"
                [columnAutoWidth]="true"
                [searchPanel]="{visible:true}"
                [headerFilter]="{visible:true}"
                [sorting]="{mode: 'none'}"
                [syncLookupFilterValues]="false"
                [filterRow]="{visible:true, applyFilter: 'auto'}">

    <dxo-remote-operations [paging]="true"
                           [filtering]="true"
    />
    <dxo-state-storing
      [enabled]="true"
      type="localStorage"
      storageKey="gridInspectionConstruction"
    />
    <dxo-paging [pageSize]="10"/>
    <dxo-pager [showPageSizeSelector]="true"
               [allowedPageSizes]="[10, 20, 30]"
               [showInfo]="true"
    />

    <!--#region Columns -->

    <dxi-column caption="..."
                [width]="50"
                [allowFiltering]="false"
                [allowExporting]="false"
                [fixed]="true"
                [allowSorting]="false"
                alignment="center"
                cellTemplate="cellOptionsTemplate"
    />
    <dxi-column dataField="Id"
                caption="Cód."
                alignment="center"
                [allowSearch]="false"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="Estado"
                cellTemplate="cellTemplate"
                caption="Estado">
      <dxo-lookup [dataSource]="lsStatus()"
                  displayExpr="label"
                  valueExpr="value"
      />
    </dxi-column>
    <dxi-column dataField="identifier"
                caption="Identificación Responsable"
                alignment="center"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="entity"
                caption="Responsable"
                alignment="center"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="name_project"
                caption="Nombre de Proyecto"
                alignment="center"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="address"
                caption="Dirección"
                alignment="center"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="parroquia"
                caption="Parroquía"
                alignment="center"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="sector"
                caption="Sector"
                alignment="center"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="area_m2"
                caption="Área M2"
                alignment="right"
                [allowHeaderFiltering]="false"
    />
    <!--
    <dxi-column dataField="geolocation"
                caption="Geolocalización"
                alignment="center"
                [allowHeaderFiltering]="false"
    />
    -->
    <dxi-column dataField="phone"
                caption="Teléfono"
                alignment="center"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="created_at"
                caption="Fecha Registro"
                dataType="date"
                format="yyyy, MMMM dd"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="FechaInspeccion"
                caption="Fecha Inspección"
                dataType="date"
                format="yyyy, MMMM dd hh:mm"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="collaborator"
                [allowHeaderFiltering]="false"
                caption="Inspector Asignado"
    />
    <!--#endregion -->

    <ng-container *dxTemplate="let data of 'cellTemplate'">
      <div class="font-weight-bold"
           [ngClass]="data.data.state | status: 'color' ">
        {{ data.data.state | status: 'label' }}
      </div>
    </ng-container>

    <div *dxTemplate="let data of 'cellOptionsTemplate'">

      <div class="btn-group-icons">
        <dx-drop-down-button
          [dropDownOptions]="{ width: 210 }"
          [stylingMode]="'text'"
          [showArrowIcon]="false"
          icon="overflow"
          [items]=" itemsAction() | actionsInspection: data.data.state"
          displayExpr="name"
          keyExpr="id"
          (onItemClick)="onItemClick($event, data.data)"
        />
      </div>

    </div>
  </dx-data-grid>
</app-card>
