<div class="modal-header">
  <h4 class="modal-title">
    {{ titleModal }}
  </h4>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="activeModal.close()">
  </button>
</div>
<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">

        <app-item-control titleControl="Tipo Entidad">
          <dx-select-box [dataSource]="typeEntity$()"
                         displayExpr="label"
                         valueExpr="value"
                         formControlName="Tipo"
                         [searchEnabled]="true"
          />
        </app-item-control>

        <app-item-control titleControl="Identificación">
          <dx-text-box formControlName="Identificacion"
                       [maxLength]="maxLengthIdentifier()"
                       [errorsMessageCustom]="identifierMessageErrors"
          />
        </app-item-control>

        <app-item-control titleControl="Nombres">
          <dx-text-box formControlName="Nombres"/>
        </app-item-control>

        @if (tipoControl.value == 'P') {
          <app-item-control titleControl="Apellidos">
            <dx-text-box formControlName="Apellidos"/>
          </app-item-control>
        }

        <app-item-control titleControl="Email">
          <dx-text-box formControlName="Email"/>
        </app-item-control>

      </div>
      <div class="col-md-6">

        <app-item-control titleControl="Dirección">
          <dx-text-box formControlName="Direccion"/>
        </app-item-control>

        <app-item-control titleControl="Teléfono">
          <dx-text-box formControlName="Telefono"/>
        </app-item-control>

        <app-item-control titleControl="Celular">
          <dx-text-box formControlName="Celular"/>
        </app-item-control>

        <app-item-control titleControl="Estado">
          <dx-select-box [dataSource]="status$ | async"
                         displayExpr="label"
                         valueExpr="value"
                         formControlName="Estado"
                         [searchEnabled]="true"
          />
        </app-item-control>

      </div>
    </div>
  </div>
  <div class="modal-footer p-1 d-flex g-2 justify-content-end">
    <button type="reset" class="btn btn-outline-danger"
            (click)="activeModal.close()">
      Cancelar
    </button>
    <button type="submit" class="btn btn-primary"
            [ngClass]="{'btn-disabled': form.invalid}">
      Guardar
    </button>
  </div>
</form>
