<section class="d-flex justify-content-end mb-3">
  <button class="btn btn-primary" (click)="redirectToMasive()">
    Generar inspecciones masiva
  </button>
</section>
<app-card cardTitle="Listado Inspección - Empresa">
  <dx-data-grid #dataGridComponent
                id="gridContainer"
                [dataSource]="gridDataSource"
                [showBorders]="true"
                [rowAlternationEnabled]="true"
                (onToolbarPreparing)="onToolbarPreparing($event)"
                [columnAutoWidth]="true"
                [searchPanel]="{visible:true}"
                [headerFilter]="{visible:true}"
                [syncLookupFilterValues]="false"
                [filterRow]="{visible:true, applyFilter: 'auto'}">

    <dxo-remote-operations [paging]="true"
                           [filtering]="true"
    />

    <dxo-paging [pageSize]="10"/>
    <dxo-pager [showPageSizeSelector]="true"
               [allowedPageSizes]="[10, 20, 30]"
               [showInfo]="true"
    />

    <!--#region Columns -->

    <dxi-column caption="..."
                [width]="50"
                [allowFiltering]="false"
                [allowExporting]="false"
                [fixed]="true"
                [allowSorting]="false"
                alignment="center"
                cellTemplate="cellOptionsTemplate"
    />
    <dxi-column dataField="attachmentRequest"
                caption="Archivo Solicitud"
                dataType="boolean"
                [allowFiltering]="false"
    />
    <dxi-column dataField="ID"
                caption="Cód."
                alignment="center"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="Estado"
                cellTemplate="cellTemplate"
                caption="Estado">
      <dxo-lookup [dataSource]="lsStatus()"
                  displayExpr="label"
                  valueExpr="value"
      ></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="FechaRegistro"
                caption="Fecha Registro"
                dataType="date"
                format="yyyy, MMMM dd"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="FechaInspeccion"
                caption="Fecha Inspección"
                dataType="date"
                format="yyyy, MMMM dd hh:mm"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="Sector"
                [allowHeaderFiltering]="false"
                caption="Sector"
    />
    <dxi-column dataField="RUC"
                [allowHeaderFiltering]="false"
                caption="RUC"
    />
    <dxi-column dataField="EntidadRazonSocial"
                [allowHeaderFiltering]="false"
                caption="Razón Social"
    />
    <dxi-column dataField="NombreComercial"
                [allowHeaderFiltering]="false"
                caption="Nombre Comercial"
    />
    <dxi-column dataField="IDColaborador"
                [allowHeaderFiltering]="false"
                caption="Inspector Asignado">
      <dxo-lookup [dataSource]="lsInspectors$ | async"
                  valueExpr="ID"
                  displayExpr="Colaborador"
      ></dxo-lookup>
    </dxi-column>
    <!--#endregion -->

    <ng-container *dxTemplate="let data of 'cellTemplate'">
      <div class="font-weight-bold"
           [class.text-danger]="data.data.Estado === 'REP'"
           [class.text-info]="data.data.Estado === 'APR'">
        {{ data.data.Estado | status }}
      </div>
    </ng-container>

    <div *dxTemplate="let data of 'cellOptionsTemplate'">

      <div class="btn-group-icons">

        <dx-drop-down-button
          [dropDownOptions]="{ width: 210 }"
          [stylingMode]="'text'"
          [showArrowIcon]="false"
          icon="overflow"
          [items]=" itemsAction() | actionsInspection: data.data.Estado"
          displayExpr="name"
          keyExpr="id"
          (onItemClick)="onItemClick($event, data.data)"
        />
      </div>

    </div>
  </dx-data-grid>
</app-card>
