<div class="row justify-content-center mb-2">
  <div class="col-md-6 col-sm-12">
    <div class="card">
      <div class="card-header bg-warning text-center font-weight-bold f-14">
        Configuración Formulario - Grupo
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="dx-field dx-field-top-label">
              <div class="dx-field-label">
                Formulario
              </div>
              <dx-select-box class="dx-field-value"
                             [dataSource]="lsForms()"
                             displayExpr="text"
                             valueExpr="ID"
                             [formControl]="formControl"
                             [showClearButton]="true"
              />
            </div>
          </div>
        </div>
      </div>
      <section class="card-footer">
        <div class="d-flex align-items-center justify-content-between">
          <label>
            Cantidad seleccionada: {{ selectedItemsId().length }}
          </label>
          <button class="btn btn-outline-primary"
                  [disabled]="formControl.invalid"
                  (click)="save()">
            Guardar Opción(es)
          </button>
        </div>
      </section>
    </div>
  </div>
</div>

<app-card [cardTitle]="'Configuración Grupo - Actividad'">

  <div class="row">
    <div class="col-md-12">

      <dx-tree-list #dxTreeData
                    keyExpr="ID"
                    parentIdExpr="IDGrupo"
                    hasItemsExpr="hasItems"
                    [rootValue]="null"
                    [columnAutoWidth]="true"
                    [columnHidingEnabled]="true"
                    [columnMinWidth]="50"
                    [columnResizingMode]="'widget'"
                    [dataSource]="listGroupActivity()"
                    [highlightChanges]="true"
                    [hoverStateEnabled]="true"
                    [showRowLines]="true"
                    [showBorders]="true"
                    [wordWrapEnabled]="true"
                    [columnFixing]="{enabled:true}"
                    [headerFilter]="{visible:false}"
                    [filterRow]="{visible:false}"
                    [selectedRowKeys]="selectedItemsId()"
                    (onToolbarPreparing)="onToolbarPreparing($event)">

        <dxo-selection mode="multiple"
                       [recursive]="true"
        />
        <dxo-sorting mode="multiple"/>

        <dxo-column-chooser mode="select"
                            [allowSearch]="true"
                            [enabled]="true"
        />

        <dxo-paging [enabled]="true"
                    [pageSize]="10"
        />
        <dxo-pager [showPageSizeSelector]="true"
                   [allowedPageSizes]="[10,20,30,50]"
                   [showInfo]="true"
        />
        <dxo-search-panel [visible]="true"
                          [width]="300"
        />
        <dxi-column caption="Actividad"
                    dataField="ItemName"
                    [allowSorting]="false"
        />
      </dx-tree-list>
    </div>
  </div>


</app-card>
