<div class="container-component">
  <section class="header-component">

    <div>
      <p>Título</p>
      <span class="header-component__title">
        {{ component.Descripcion }}
      </span>
    </div>

    <div>
      <p>Tipo Pregunta</p>
      <span class="header-component__sub-title">
        {{ typeDescriptionComponent }}
      </span>
    </div>

    <div>
      <p>Estado</p>
      <span class="header-component__status"
            [class.text-info]="component.Estado == 'ACT'"
            [class.text-danger]="component.Estado == 'INA'">
        {{ component.Estado == 'ACT' ? 'Activo' : 'Inactivo' }}
      </span>
    </div>

  </section>

  <section class="container-component__actions">

    @if (component.Estado === 'ACT') {
      <!--
      <dx-switch (onValueChanged)="onObligatorioChange($event)"
                 [value]="isObligatorio"
                 [switchedOffText]="'No'"
                 [switchedOnText]="'Si'"
                 hint="Obligatorio"
                 class="m-l-15"
      />
      -->
      <dx-button icon="edit"
                 (onClick)="editComponent()"
                 type="success"
                 stylingMode="outlined"
                 hint="Editar"
      />
      <dx-button icon="trash"
                 type="danger"
                 stylingMode="outlined"
                 (onClick)="deleteComponent()"
                 hint="Eliminar"
      />
    } @else {
      <dx-button icon="far fa-sync-alt"
                 (onClick)="activeComponent()"
                 hint="Activar"
      />
    }

  </section>

</div>
