<div class="container-component">
  <section class="header-component">

    <p>Título</p>
    <span class="header-component__title">
      {{ component.Descripcion }}
    </span>
    <p>Tipo Pregunta</p>

    <span class="header-component__sub-title">
      {{ typeDescriptionComponent }}
    </span>
    <p>Estado</p>

    <span class="header-component__status"
          [class.text-info]="component.Estado == 'ACT'"
          [class.text-danger]="component.Estado == 'INA'">
      {{ component.Estado == 'ACT' ? 'Activo' : 'Inactivo' }}
    </span>

    <!--
    <span class="badge"
          [class.badge--active]="component.Estado == 'ACT'"
          [class.badge--inactive]="component.Estado == 'INA'">
        {{ component.Estado }}
    </span>
    -->
  </section>

  <section class="container-component__actions">

    @if (component.Estado === 'ACT') {
      <dx-switch (onValueChanged)="onObligatorioChange($event)"
                 [value]="isObligatorio"
                 [switchedOffText]="'No'"
                 [switchedOnText]="'Si'"
                 hint="Obligatorio"
                 class="m-l-15"
      />
      <dx-button icon="edit"
                 (onClick)="editComponent()"
                 hint="Editar"
      />
      <dx-button icon="trash"
                 (onClick)="deleteComponent()"
                 hint="Eliminar"
      />
    } @else {
      <dx-button icon="far fa-sync-alt"
                 (onClick)="activeComponent()"
                 hint="Activar"
      />
    }

  </section>

</div>
<!--
@switch (typeComponent) {
  @case (1) {
    <section class="config-component">
      <span>Items</span>
    </section>
  }
  @case (2) {
    <section class="config-component">

      <div class="d-flex flex-row justify-content-between align-items-center mt-2">
        <label class="font-italic text-primary">
          Especificar Mínimo:
        </label>
      </div>
      <div class="d-flex flex-row justify-content-between align-items-center mt-2">
        <label class="font-italic text-primary">
          Especificar Máximo:
        </label>
      </div>
    </section>
  }
}
-->

<!--
<div class="col-md-12" *ngIf="component.IDTipoComp == 2">

  <div class="d-flex flex-row justify-content-between align-items-center mt-2">
    <label class="font-italic text-primary">Especificar Mínimo:</label>
    <dx-number-box [(value)]="component.Atributo[0]"
                   [showSpinButtons]="true"
                   [showClearButton]="true"
                   [width]="'150px'"
    ></dx-number-box>
  </div>

  <div class="d-flex flex-row justify-content-between align-items-center mt-2">
    <label class="font-italic text-primary">Especificar Máximo:</label>
    <dx-number-box [(value)]="component.Atributo[1]"
                   [showSpinButtons]="true"
                   [showClearButton]="true"
                   [width]="'150px'"
    ></dx-number-box>
  </div>

  <div class="ag-slider">
    <nouislider [min]="1" [max]="10"
                [step]="1"
                [(ngModel)]="component.Atributo"
                [tooltips]="[ true, true ]"
                style="margin-top: 5em;"
    ></nouislider>
  </div>
  <span class="sub-title">Min - Max: <code> {{ component.Atributo | json }} </code></span>

</div>
-->
