<dx-form [formData]="dataForm"
         [colCount]="2"
         [readOnly]="true">
  <dxi-item dataField="Descripcion"
            [label]="{text:'Nombre'}"
  />
  <dxi-item dataField="Observacion"
            [label]="{text:'Observación'}"
  />
  <dxi-item dataField="created_at"
            [label]="{text:'Fecha de Creación'}"
            editorType="dxDateBox"
            [editorOptions]="{displayFormat:'MMMM dd, yyyy'}"
  />
  <dxi-item dataField="Estado"
            [label]="{text:'Estado'}"
            editorType="dxSelectBox"
            [editorOptions]="{
              items: status(), displayExpr:'label', valueExpr:'value'
            }"
  />
  <dxi-item dataField="IDTipoInspeccion"
            [label]="{text:'Tipo Inspección'}"
            editorType="dxSelectBox"
            [editorOptions]="{
              items: lsTypeInspection(), displayExpr:'Nombre', valueExpr:'ID'
            }"
  />
</dx-form>
