<div class="modal-header">
  <h4 class="modal-title">
    {{ titleModal }}
  </h4>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="activeModal.close()">
  </button>
</div>

<div class="modal-body">
  <dx-data-grid [dataSource]="gridDataSource"
                [columnAutoWidth]="true"
                [columnMinWidth]="80"
                [hoverStateEnabled]="true"
                [rowAlternationEnabled]="true"
                (onToolbarPreparing)="onToolbarPreparing($event)"
                height="450px"
                (onRowDblClick)="submit()"
                [(selectedRowKeys)]="selected"
                [searchPanel]="{visible:true}"
                [filterRow]="{visible:true}"
                [showBorders]="true">
    <dxo-remote-operations [paging]="true"/>

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 20, 40, 60]"
      [showInfo]="true">
    </dxo-pager>
    <dxo-selection mode="single"></dxo-selection>

    <dxi-column dataField="Tipo"
                caption="Tipo Entidad"
                alignment="center">
      <dxo-lookup [dataSource]="lsTipoEntidad()"
                  valueExpr="value"
                  displayExpr="label"
      ></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="Identificacion"
                caption="Identificación"
    ></dxi-column>
    <dxi-column dataField="Nombres"
                caption="Nombres"
    ></dxi-column>
    <dxi-column dataField="Apellidos"
                caption="Apellidos"
    ></dxi-column>

  </dx-data-grid>
</div>

<div class="modal-footer">
  <button class="btn btn-outline-danger mr-2"
          (click)="activeModal.close()">
    Cancelar
  </button>
  <button type="button"
          class="btn btn-primary"
          [class.btn-disabled]="selected.length == 0"
          [disabled]="selected.length == 0"
          (click)="submit()">
    Seleccionar
  </button>
</div>

