<app-card [cardTitle]="'Nueva Inspección - Vehículo'">
  <!-- Información de la Entidad solicitante -->
  <section class="row">
    <div class="col">
      <dx-button [text]="'Buscar Entidad'"
                 [icon]="'search'"
                 [type]="'success'"
                 (click)="loadModalEntity()"
      />
    </div>
  </section>

  @if (itemEntity()) {
    <div class="row mt-2">
      <div class="col-md-12">
        <h5 class="font-weight-bold">
          Información de entidad
        </h5>
        <dx-form [formData]="itemEntity()"
                 style="background-color: rgba(191, 191, 191, 0.15); padding: 16px;"
                 [readOnly]="true"
                 [showColonAfterLabel]="true"
                 [labelLocation]="'top'"
                 [minColWidth]="150"
                 [colCount]="2">
          <dxi-item dataField="Apellidos"></dxi-item>
          <dxi-item dataField="Nombres"></dxi-item>
          <dxi-item dataField="Identificacion"></dxi-item>
          <dxi-item dataField="Direccion"
                    editorType="dxTextArea"
                    [editorOptions]="{ height: 90 }"
                    [colSpan]="2"
          />
        </dx-form>
      </div>
    </div>


  } @else {
    <div class="row">
      <div class="col d-flex justify-content-end mt-2 mb-2">
        <div class="alert alert-danger text-danger" role="alert">
          No hay entidad seleccionada.
        </div>
      </div>
    </div>
  }

  <!--#region Table Vehicle -->

  @if (itemEntity()) {


    <section class="my-4">
      <div class="col-md-12">
        <h4 class="font-weight-bold">
          Listado de Vehiculos
        </h4>
        <dx-data-grid [dataSource]="lsVehicles()"
                      [showBorders]="true"
                      [rowAlternationEnabled]="true"
                      [hoverStateEnabled]="true"
                      [columnAutoWidth]="true"
                      keyExpr="id"
                      (selectedRowKeysChange)="vehicle?.setValue($event.at(0))"
                      [searchPanel]="{visible:true}"
                      [headerFilter]="{visible:true}">

          <!--#region Config DataGrid -->
          <dxo-selection mode="single"/>
          <dxo-paging [pageSize]="5"/>
          <dxo-pager [showPageSizeSelector]="true"
                     [allowedPageSizes]="[5, 10]"
                     [showInfo]="true"
          />
          <!--#endregion-->
          <dxi-column dataField="current_plate"
                      caption="Placa Actual"
                      [allowHeaderFiltering]="false"
          />
          <dxi-column dataField="previous_plate"
                      caption="Placa Anterior"
                      [allowHeaderFiltering]="false"
          />
          <dxi-column dataField="class"
                      caption="Clase"
                      [allowHeaderFiltering]="false"
          />
          <dxi-column dataField="brand"
                      caption="Marca"
                      [allowHeaderFiltering]="false"
          />
          <dxi-column dataField="model"
                      caption="Modelo"
                      [allowHeaderFiltering]="false"
          />
          <dxi-column dataField="type"
                      caption="Tipo"
                      [allowHeaderFiltering]="false"
          />
          <dxi-column dataField="entity"
                      caption="Entidad"
                      [allowHeaderFiltering]="false"
          />

        </dx-data-grid>
      </div>
    </section>

  }

  <!--#endregion -->

  <hr>
  <section class="mt-3">
    <form [formGroup]="registerForm"
          (ngSubmit)="saveRegister()"
          (keydown.enter)="$event.preventDefault()">
      <div class="row">

        <div class="col-md-4">

          <div class="form-group form-default row">
            <label class="col-sm-12 col-form-label">
              Colaborador
            </label>
            <div class="col-sm-12">
              <dx-select-box [dataSource]="lsInspectors$ | async"
                             valueExpr="ID"
                             displayExpr="Colaborador"
                             formControlName="IdInspector"
              />
            </div>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="col-md-12 d-flex justify-content-end gap-2">
          <button type="reset"
                  class="btn btn-outline-danger "
                  [routerLink]="['..','list-vehicles']">
            Cancelar
          </button>
          <button type="submit"
                  class="btn btn-primary">
            <i class="feather icon-save"></i>
            Agregar
          </button>
        </div>
      </div>

    </form>
  </section>

</app-card>
