<dx-form [formData]="itemInspection()"
         [readOnly]="true">
  <dxi-item dataField="identifier"
            [label]="{text:'Identificación Propietario'}"
  />
  <dxi-item dataField="entity"
            [label]="{text:'Propietario'}"
  />
  <dxi-item dataField="name_project"
            [label]="{text:'Nombre Projecto'}"
  />
  <dxi-item dataField="area_m2"
            [label]="{text:'Area M2'}"
  />
  <dxi-item dataField="address"
            [label]="{text:'Dirección'}"
  />
  <dxi-item dataField="state"
            [label]="{text:'Estado'}"
            editorType="dxSelectBox"
            [editorOptions]="{dataSource:status(), displayExpr:'label', valueExpr:'value'}"
  />
  <dxi-item dataField="inspection_at"
            [label]="{text:'Fecha Inspección'}"
            editorType="dxDateBox"
            [editorOptions]="{displayFormat: formatDxDateBox}"
  />
</dx-form>
