<app-card cardTitle="Listado Inspección">

  <dx-data-grid #dataGridComponent
                id="gridContainer"
                [dataSource]="gridDataSource"
                [showBorders]="true"
                [rowAlternationEnabled]="true"
                (onToolbarPreparing)="onToolbarPreparing($event)"
                [columnAutoWidth]="true"
                [searchPanel]="{visible:true}"
                [headerFilter]="{visible:true}"
                [filterRow]="{visible:true, applyFilter: 'auto'}">

    <dxo-remote-operations [groupPaging]="true"/>

    <dxo-paging [pageSize]="10"/>
    <dxo-pager [showPageSizeSelector]="true"
               [allowedPageSizes]="[10, 20, 30]"
               [showInfo]="true"
    />

    <!--#region Columns -->

    <dxi-column caption="..."
                [width]="50"
                [allowFiltering]="false"
                [allowExporting]="false"
                [fixed]="true"
                [allowSorting]="false"
                cellTemplate="cellOptionsTemplate"
    />
    <dxi-column dataField="Id"
                caption="Código Solicitud"
                alignment="center"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="FechaRegistro"
                caption="Fecha Registro"
                dataType="date"
                format="yyyy, MMMM dd"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="FechaInspeccion"
                caption="Fecha Inspección"
                dataType="date"
                format="yyyy, MMMM dd"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="RUC"
                [allowHeaderFiltering]="false"
                caption="RUC"
    />
    <dxi-column dataField="RazonSocial"
                [allowHeaderFiltering]="false"
                caption="Razón Social"
    />
    <dxi-column dataField="NombreComercial"
                [allowHeaderFiltering]="false"
                caption="Nombre Comercial"
    />
    <dxi-column dataField="Estado"
                caption="Estado">
      <dxo-lookup [dataSource]="lsStatus$ | async"
                  displayExpr="label"
                  valueExpr="value"
      ></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="IdColaborador"
                caption="Inspector Asignado">
      <dxo-lookup [dataSource]="lsColaborador$ | async"
                  valueExpr="ID"
                  displayExpr="Colaborador"
      ></dxo-lookup>
    </dxi-column>
    <!--#endregion -->

    <div *dxTemplate="let data of 'cellOptionsTemplate'">


      <div class="btn-group-icons">

        <dx-drop-down-button
          [dropDownOptions]="{ width: 210 }"
          [stylingMode]="'text'"
          [showArrowIcon]="false"
          icon="overflow"
          [items]="optionsItems"
          displayExpr="name"
          keyExpr="id"
          (onItemClick)="onItemClick($event, data.data)"
        />

        <!--
        <ng-container *ngIf="data.data.Estado == 'APR' || data.data.Estado == 'REP'">
          <dx-button icon="icofont icofont-download m-r-15 f-20 text-success cursor-pointer"
                     hint="Descargar Resultados"
                     (click)="downloadFormulario(data.data)"
          />

          <dx-button icon="exportpdf"
                     hint="Reenviar Resultados"
                     (click)="sendMailFormulario(data.data)"
          />
        </ng-container>

        <dx-button icon="eyeopen"
                   hint="Revisar Resultados"
                   [routerLink]="['../view', data.data?.Id]"
        />
        -->

        <!--
        <ng-container *ngIf="data.data?.Estado == 'PEN'">

          <dx-button icon="group"
                     (onClick)="asign_colaborador(data.data)"
                     *ngIf="!data.data?.InspWeb"
                     hint="Reasignar colaborador"
          />

          <dx-button icon="trash"
                     (onClick)="delete(data.data)"
                     hint="Eliminar Inspección"
          />

          <dx-button icon="group"
                     *ngIf="!data.data?.IdColaborador && !data.data?.InspWeb"
                     (click)="asign_colaborador(data.data)"
                     hint="Asignar Colaborador"
          />

          <dx-button icon="print"
                     (click)="viewSolicitud(data.data)"
                     *ngIf="!(data.data?.IDRef)"
                     hint="Reimprimir solicitud"
          />

        </ng-container>
        -->


        <!--
        <dx-button icon="email"
                   (click)="sendMailSolicitud(data.data)"
                   hint="Enviar solicitud"
        />
        -->
        <!--        <a class="icofont icofont-printer m-r-15 f-20 text-success cursor-pointer"-->
        <!--           ngbTooltip="Reimprimir solicitud"-->
        <!--           *ngIf="data.data?.Estado == 'PEN' && !(data.data?.IDRef)"-->
        <!--           target="_blank"-->
        <!--           [href]="urlHost + 'solicitud_pdf/' + data.data.Id"-->
        <!--        ></a>-->


        <!--
        <dx-button icon="box"
                   *ngIf="data.data?.InspWeb"
                   hint="Realizar en Web"
                   [routerLink]="['../inspweb/', data.data.Id]"
        />
        -->

      </div>
    </div>
  </dx-data-grid>
</app-card>
