.list-components {
  //display: flex;
  //flex-flow: column nowrap;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 1rem;
  padding: 0.5rem;
  background-color: #f4f7fa;
}

.btn-group-icons-custom {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 8px;
}
