<div class="card my-2">
  <div class="card-header d-flex flex-row flex-nowrap justify-content-between align-items-center">
    <div class="d-flex gap-1">
      {{ section.Descripcion | titlecase }}

      <span class="badge"
            [class.badge--active]="section.Estado == 'ACT'"
            [class.badge--inactive]="section.Estado == 'INA'">
        {{ section.Estado }}
      </span>
    </div>

    <div class="btn-group-icons-custom">

      <ng-container *ngIf="section.Estado === 'ACT'; else inactiveOptionsSection">
        <dx-button icon="far fa-plus"
                   (onClick)="addComponent()"
                   hint="Agregar componente"
        />
        <dx-button icon="far fa-pencil"
                   (onClick)="editSection()"
                   hint="Editar sección"
        />
        <dx-button icon="trash"
                   (onClick)="deleteSection()"
                   hint="Eliminar sección"
        />
      </ng-container>
      <ng-template #inactiveOptionsSection>
        <dx-button icon="far fa-sync-alt"
                   (onClick)="activeComponent()"
        />
      </ng-template>

    </div>
  </div>

  <section class="list-components">
    <ng-content></ng-content>
  </section>
</div>
