<div class="modal-header">
  <h4 class="modal-title">
    {{ titleModal }}
  </h4>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="activeModal.close()">
    <i class="feather icon-x-circle"></i>
  </button>
</div>
<form [formGroup]="form"
      (ngSubmit)="submit()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group form-default row">
          <label class="col-sm-12 col-form-label font-weight-bold">
            Nombre Componente
          </label>
          <div class="col-sm-12">
            <dx-text-box
              formControlName="Descripcion"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group form-default row">
          <label class="col-sm-12 col-form-label font-weight-bold">
            Tipo Componente
          </label>
          <div class="col-sm-12">
            <dx-select-box [dataSource]="lsTypeComponent()"
                           displayExpr="Descripcion"
                           valueExpr="ID"
                           formControlName="IDTipoComp"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group form-default row">
          <label class="col-sm-12 col-form-label font-weight-bold">
            Estado
          </label>
          <div class="col-sm-12">
            <dx-select-box [dataSource]="status$ | async"
                           displayExpr="label"
                           valueExpr="value"
                           formControlName="Estado"
            />
          </div>
        </div>
      </div>
    </div>
    @if (typeComponent.value === 1) {
      <section class="row mt-3">

        <!--
          <div class="form-group form-default row">
            <label class="col-sm-12 col-form-label font-weight-bold">
              Añadir items
            </label>


            <div class="col-sm-12">
              <dx-tag-box
                [(value)]="lsAttr"
                [acceptCustomValue]="true"
                placeholder="+"
                [inputAttr]="{ 'aria-label': 'Attr' }"
              />
            </div>
          </div>
          -->

        <div class="col-12">

          <dx-data-grid
            id="gridContainer"
            [dataSource]="dataGrid"
            [showBorders]="true"
            (onRowInserted)="$event.component.navigateToRow($event.key)"
          >

            <dxo-editing mode="batch"
                         [allowUpdating]="true"
                         [allowAdding]="true"
                         [allowDeleting]="true"
                         [useIcons]="true"
            />
            <dxi-column
              dataField="code"
              caption="Código"
              [width]="150"
              [allowSorting]="false"
            />
            <dxi-column
              caption="Descripción"
              dataField="display"
              [allowSorting]="false"
            />
          </dx-data-grid>

        </div>

      </section>
    } @else if (typeComponent.value === 7) {
      <div class="row">
        <div class="col-12">

          <div class="form-group form-default row">
            <label class="col-sm-12 col-form-label font-weight-bold">
              Catalogo Seleccionar
            </label>
            <div class="col-sm-12">

              <dx-select-box [dataSource]="lsCatalog()"
                             formControlName="selectCatalog"
                             displayExpr="description"
                             valueExpr="code"
              />


            </div>
          </div>
        </div>
      </div>
    }
  </div>

  <div class="modal-footer">
    <button
      type="reset"
      class="btn btn-outline-danger mr-2"
      (click)="activeModal.close()">
      Cancelar
    </button>
    <button type="submit" class="btn btn-primary">
      Guardar
    </button>
  </div>
</form>
