<div class="modal-header">
  <h4 class="modal-title">
    {{ titleModal }}
  </h4>
  <button type="button"
          class="close"
          aria-label="Close"
          (click)="activeModal.close()">
    <i class="feather icon-x-circle"></i>
  </button>
</div>
<form [formGroup]="form" (submit)="submit()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-12">
        <div class="form-group form-default row">
          <label class="col-sm-12 col-form-label font-weight-bold">
            Nombre Componente
          </label>
          <div class="col-sm-12">
            <dx-text-box
              formControlName="Descripcion"
              [isValid]="!descriptionInvalid"
            ></dx-text-box>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group form-default row">
          <label class="col-sm-12 col-form-label font-weight-bold">
            Tipo Componente
          </label>
          <div class="col-sm-12">
            <dx-select-box [dataSource]="lsTipo()"
                           displayExpr="Descripcion"
                           valueExpr="ID"
                           formControlName="IDTipoComp"
                           [isValid]="!typeComponentInvalid"
                           [searchEnabled]="true"
                           [showClearButton]="true"
            />
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group form-default row">
          <label class="col-sm-12 col-form-label font-weight-bold"
          >Estado</label
          >
          <div class="col-sm-12">
            <dx-select-box [dataSource]="status$ | async"
                           displayExpr="label"
                           valueExpr="value"
                           formControlName="Estado"
                           [isValid]="!statusInvalid"
            />
          </div>
        </div>
      </div>
    </div>

    <ng-container *ngIf="typeComponent.value === 1">
      <div class="row">
        <div class="col-12">

          <div class="form-group form-default row">
            <label class="col-sm-12 col-form-label font-weight-bold">
              Añadir items
            </label>
            <div class="col-sm-12">
              <dx-tag-box
                [(value)]="lsAttr"
                [acceptCustomValue]="true"
                placeholder="+"
                [inputAttr]="{ 'aria-label': 'Attr' }"
              />
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>

  <div class="modal-footer">
    <button
      type="reset"
      class="btn btn-outline-danger mr-2"
      (click)="activeModal.close()">
      Cancelar
    </button>
    <button type="submit" class="btn btn-primary">
      Guardar
    </button>
  </div>
</form>
