<app-card [cardTitle]="'Pendiente de aprobaciones'">

  <dx-data-grid [dataSource]="$dataSource | async"
                [rowAlternationEnabled]="true"
                keyExpr="Id"
                [columnAutoWidth]="true"
                [headerFilter]="{visible:true}"
                [columnChooser]="{enabled: true, mode:'select'}"
                [showBorders]="true">

    <dxo-search-panel [visible]="true"/>
    <dxo-paging [pageSize]="10"/>
    <dxo-pager [showPageSizeSelector]="true"
               [allowedPageSizes]="[10, 20, 30]"
               [showInfo]="true"
    />
    <dxo-load-panel [enabled]="true"></dxo-load-panel>

    <dxo-group-panel [visible]="true"></dxo-group-panel>
    <!--
    <dxo-grouping #expand [autoExpandAll]="true"></dxo-grouping>
    -->

    <dxo-toolbar>
      <!--
      <dxi-item location="after">
        <div *dxTemplate>
          <dx-button icon="refresh"
                     hint="Recargar datos de la tabla"
                     (onClick)="refreshTable$.next()"
          />
        </div>
      </dxi-item>
      -->
      <dxi-item name="searchPanel"/>
      <dxi-item name="columnChooserButton"/>
      <dxi-item name="groupPanel"/>
    </dxo-toolbar>

    <!--#region Columns -->
    <dxi-column caption="..."
                [width]="50"
                alignment="center"
                [allowFiltering]="false"
                [allowExporting]="false"
                [fixed]="true"
                [allowSorting]="false"
                cellTemplate="cellOptionsTemplate"
    />

    <dxi-column dataField="Id"
                caption="Cód."
                alignment="center"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="FechaRegistro"
                caption="Fecha Registro"
                dataType="date"
                format="yyyy, MMMM dd"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="Sector"
                [allowHeaderFiltering]="true"
                caption="Sector"
    />
    <dxi-column dataField="Inspector"
                [allowHeaderFiltering]="false"
                caption="Inspector"
    />
    <dxi-column dataField="RUC"
                [allowHeaderFiltering]="false"
                caption="RUC"
    />
    <dxi-column dataField="RazonSocial"
                [allowHeaderFiltering]="false"
                caption="Razón Social"
    />
    <dxi-column dataField="NombreComercial"
                [allowHeaderFiltering]="false"
                caption="Nombre Comercial"
    />

    <div *dxTemplate="let data of 'cellOptionsTemplate'">
      <div class="btn-group-icons">
        <dx-button (onClick)="goToReview(data.data.Id)" icon="edit"/>
      </div>
    </div>


  </dx-data-grid>


</app-card>
