<app-card [cardTitle]="'Formulario'">

  <dx-data-grid [dataSource]="lsRows()"
                [remoteOperations]="false"
                [columnAutoWidth]="true"
                [hoverStateEnabled]="true"
                [rowAlternationEnabled]="true"
                (onInitialized)="refreshTable$.next()"
                (onToolbarPreparing)="onToolbarPreparing($event)"
                [showBorders]="true"
                [searchPanel]="{visible:true}"
                [filterRow]="{visible:true}">


    <dxo-export [enabled]="true"
                [fileName]="'Formulario'"
                [allowExportSelectedData]="false"
    />

    <dxo-paging [pageSize]="10"
    />
    <dxo-pager [showPageSizeSelector]="true"
               [allowedPageSizes]="[10, 20, 30]"
               [showInfo]="true"
    />

    <dxi-column caption="Opciones" [width]="180" [allowFiltering]="false"
                [allowExporting]="false" [fixed]="true"
                [allowSorting]="false" cellTemplate="cellOptionsTemplate">
    </dxi-column>
    <dxi-column dataField="Descripcion" caption="Descripción"></dxi-column>
    <dxi-column dataField="Observacion" caption="Observación"></dxi-column>
    <dxi-column dataField="Estado" alignment="center">
      <dxo-lookup [dataSource]="lsEstados$ | async"
                  valueExpr="value"
                  displayExpr="label"
      ></dxo-lookup>
    </dxi-column>
    <dxi-column dataField="created_at" caption="Fecha Creación"
                dataType="datetime"
                format="yyyy, MMMM dd"
    />
    <dxi-column dataField="updated_at" caption="Última Modificación"
                dataType="datetime"
                format="yyyy, MMMM dd"
    />


    <div *dxTemplate="let data of 'cellOptionsTemplate'">
      <div class="btn-group-icons">

        <dx-button icon="edit"
                   (onClick)="edit(data.data)"
        />

        <!-- Configurar Formulario  -->
        <dx-button icon="preferences"
                   *ngIf="data.data.updated_at != data.data.firebase_at"
                   [routerLink]="['../config', data.data.ID]"
        />

        <ng-container *ngIf="data.data?.Estado == 'ACT'">
          <!-- Sincronizar -->
          <dx-button icon="upload"
                     *ngIf="data.data.updated_at != data.data.firebase_at"
                     (onClick)="synchronize(data.data)"
          />
          <dx-button icon="trash"
                     (onClick)="delete(data.data)"
          ></dx-button>

        </ng-container>

        <!--
        <icofont ico="cursor-pointer icofont-upload-alt m-r-15 f-20 text-warning"
                 ngbTooltip="Sincronizar"
                 *ngIf="data.data.Estado == 'ACT' && data.data.updated_at != data.data.firebase_at"
                 (click)="synchronize(data.data)"
        ></icofont>
        <icofont ico="cursor-pointer icofont-settings m-r-15 f-20 text-primary"
                 ngbTooltip="Configurar Formulario"
                 [routerLink]="['../config', data.data.ID]"
        ></icofont>
        <icofont ico="cursor-pointer icofont-trash m-r-15 f-20 text-danger"
                 *ngIf="data.data?.Estado == 'ACT'"
                 ngbTooltip="Eliminar" (click)="delete(data.data)"
        ></icofont>
        -->
      </div>
    </div>
  </dx-data-grid>

</app-card>
