<div class="modal-header d-flex justify-content-between">
  <h4 class="modal-title">
    {{titleModal}}
  </h4>
  <button type="button" class="close" aria-label="Close"
          (click)="activeModal.close()">
    <i class="feather icon-x-circle"></i>
  </button>
</div>

<form [formGroup]="form" (ngSubmit)="submit()">
  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">

        <div class="form-group form-default row">
          <label class="col-sm-12 col-form-label">Nombre Sector</label>
          <div class="col-sm-12">
            <dx-text-box formControlName="Descripcion"/>
          </div>
        </div>

        <div class="form-group form-default row">
          <label class="col-sm-12 col-form-label">Estado</label>
          <div class="col-sm-12">
            <dx-select-box [dataSource]="status$ | async"
                           displayExpr="label"
                           valueExpr="value"
                           formControlName="Estado"
                           [searchEnabled]="true"
            />
          </div>
        </div>

      </div>
      <div class="col-md-6">

        <div class="form-group form-default row">
          <label class="col-sm-12 col-form-label">Provincia</label>
          <div class="col-sm-12">
            <dx-select-box [dataSource]="lsProvincias$ | async"
                           displayExpr="Descripcion"
                           valueExpr="ID"
                           formControlName="IDProvincia"
                           [searchEnabled]="true"
            />
          </div>
        </div>

        <div class="form-group form-default row">
          <label class="col-sm-12 col-form-label">Cantón</label>
          <div class="col-sm-12">
            <dx-select-box [dataSource]="lsCanton$ | async"
                           displayExpr="Descripcion"
                           valueExpr="ID"
                           formControlName="IDCanton"
                           [searchEnabled]="true"
            />
          </div>
        </div>

        <div class="form-group form-default row">
          <label class="col-sm-12 col-form-label">Parroquía</label>
          <div class="col-sm-12">
            <dx-select-box [dataSource]="lsParroquia$ | async"
                           displayExpr="Descripcion"
                           valueExpr="ID"
                           formControlName="IDParroquia"
                           [searchEnabled]="true"
            />
          </div>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-footer p-1 d-flex g-2 justify-content-end">
    <button type="reset"
            class="btn btn-outline-danger"
            (click)="activeModal.close()">
      Cancelar
    </button>
    <button type="submit"
            class="btn btn-primary">
      Guardar
    </button>
  </div>
</form>
