<form [formGroup]="form"
      (keydown.enter)="$event.preventDefault()"
      [autocomplete]="false">
  <app-card [hidHeader]="true">
    <div class="row">
      <div class="col-md-12 d-flex flex-row flex-nowrap justify-content-between align-items-center ">
        <h5 class="font-weight-bold">
          {{ edit() ? 'Editar' : 'Nueva' }}  Empresa
        </h5>
        <section class="d-flex justify-content-end gap-2">
          <button type="reset" class="btn btn-danger"
                  (click)="cancel()">
            <i class="feather icon-toggle-left"></i>
            Cancelar
          </button>

          <button type="button"
                  appDebounceClick
                  (debounceClick)="submit()"
                  class="btn btn-primary">
            <i class="feather icon-save"></i>
            Guardar
          </button>

        </section>
      </div>
    </div>
  </app-card>

  <dx-tabs [dataSource]="longTabs"
           [itemTemplate]="'tabItem'"
           [selectedIndex]="0"
           (onItemClick)="onItemClick($event)">

    <div *dxTemplate="let itemData of 'tabItem'">
      <i class="feather {{ itemData.icon }} mx-2"></i>
      {{ itemData.text }}
    </div>
  </dx-tabs>

  <app-card cardClass="mt-2" [hidHeader]="true">

    @switch (selectTab()) {
      @case ('INFB') {
        <div class="row">
          <div class="col-md-6">

            <app-item-control titleControl="RUC">
              <dx-text-box maxLength="13"
                           formControlName="RUC"
              />
            </app-item-control>

            <app-item-control titleControl="Nombre Comercial">
              <dx-text-box formControlName="NombreComercial"/>
            </app-item-control>

            <app-item-control titleControl="Razón Social">
              <dx-text-box formControlName="RazonSocial"
                           [readOnly]="true"
              />
            </app-item-control>

            <app-item-control titleControl="Establecimiento">
              <dx-text-box formControlName="Establecimiento"
                           mask="000"
                           [errorsMessageCustom]="{
                              pattern: 'Solo permite números'
                           }"
                           [maxLength]="3"
              />
            </app-item-control>

            <app-item-control titleControl="Tipo Permiso">
              <dx-select-box [dataSource]="lsTypePerm()"
                             displayExpr="name"
                             valueExpr="type"
                             formControlName="TipoPermiso"
              />
            </app-item-control>

            <app-item-control titleControl="Estado">
              <dx-select-box [dataSource]="status$ | async"
                             displayExpr="label"
                             valueExpr="value"
                             formControlName="Estado"
                             [searchEnabled]="true"
              />
            </app-item-control>

          </div>
          <div class="col-md-6">

            <app-item-control titleControl="Dirección">
              <dx-text-box formControlName="Direccion"/>
            </app-item-control>

            <app-item-control titleControl="Referencia">
              <dx-text-box formControlName="Referencia"/>
            </app-item-control>

            <app-item-control titleControl="Teléfono">
              <dx-text-box formControlName="Telefono"
                           [errorsMessageCustom]="{
                              pattern: 'Solo permite números',
                              maxlength: 'Longitud máxima de 10 caracteres'
                             }"
                           [maxLength]="10"
              />
            </app-item-control>

            <app-item-control titleControl="Celular">
              <dx-text-box formControlName="Celular"
                           [errorsMessageCustom]="{
                              pattern: 'Solo permite números',
                              maxlength: 'Longitud máxima de 10 caracteres'
                           }"
                           [maxLength]="10"
              />
            </app-item-control>

            <app-item-control titleControl="Email">
              <dx-text-box formControlName="Email"/>
            </app-item-control>

          </div>
        </div>

        <div class="row my-2">
          <div class="col-6">

            <app-item-control titleControl="Area Terreno">
              <dx-number-box formControlName="AreaTerreno"
                             [format]="formatNumber"
                             [showSpinButtons]="true"
                             [step]="0.10"
              />
            </app-item-control>

            <app-item-control titleControl="Area Util">
              <dx-number-box formControlName="AreaUtil"
                             [format]="formatNumber"
                             [showSpinButtons]="true"
                             [step]="0.10"
              />
            </app-item-control>

          </div>
          <div class="col-6">

            <app-item-control titleControl="Capacidad de personas (Aforo Fijo)">
              <dx-number-box formControlName="AforoFijo"
                             [showSpinButtons]="true"
              />
            </app-item-control>

            <app-item-control titleControl="Capacidad de personas (Aforo Flotante)">
              <dx-number-box formControlName="AforoFlotante"
                             [showSpinButtons]="true"
              />
            </app-item-control>

          </div>
        </div>
      }
      @case ('ENT') {
        <section class="row mb-5">
          <div class="col d-flex gap-2">
            <dx-button [text]="'Buscar Entidad'"
                       [icon]="'search'"
                       [type]="'success'"
                       (click)="loadModalEntity()"
            />
            @if (entityControl.valid) {
              <dx-button [text]="'Editar Entidad'"
                         [icon]="'edit'"
                         [type]="'normal'"
                         (click)="loadModalEditEntity()"
              />
            }
          </div>
        </section>

        <div class="row">
          <div class="col-md-12">
            <dx-form [formData]="entidad()"
                     [readOnly]="true"
                     [colCount]="2"
                     labelLocation="top">
              <dxi-item dataField="Identificacion"
                        [label]="{text:'Identificación'}"
              ></dxi-item>
              <dxi-item dataField="Nombres"></dxi-item>
              <dxi-item dataField="Apellidos"></dxi-item>
              <dxi-item dataField="Telefono"
                        [label]="{text:'Teléfono'}"
              ></dxi-item>
              <dxi-item dataField="Celular"
                        [label]="{text:'Celular'}"
              ></dxi-item>
              <dxi-item dataField="Email"></dxi-item>
              <dxi-item dataField="Direccion"
                        [label]="{text:'Dirección'}"
                        editorType="dxTextArea"
                        [editorOptions]="{ height: 60 }"
                        [colSpan]="2"
              ></dxi-item>
            </dx-form>
          </div>
        </div>
      }
      @case ('ACTE') {

        <!--#region Group Economic  -->
        <section class="row mb-4">
          <div class="col">
            <dx-button class="mb-4"
                       [text]="'Asignar Grupo'"
                       [icon]="'group'"
                       [type]="'success'"
                       (click)="loadModalGroup()"
            />

            <section class="row">
              <div class="col-md-12">
                <dx-form [formData]="infoGroup()"
                         [readOnly]="true"
                         [colCount]="2"
                         labelLocation="top">
                  <dxi-item dataField="group_description"
                            [label]="{text:'Grupo'}"
                  />
                  <dxi-item dataField="act_tarifario"
                            [label]="{text:'Tarifario'}"
                  />
                  <dxi-item dataField="category"
                            [label]="{text:'Categoria'}"
                  />
                </dx-form>
              </div>
            </section>

          </div>
        </section>
        <!--#endregion  -->

        <h3 class="sub-title text-c-blue font-weight-bold">
          Organización
        </h3>

        <section class="row">
          <div class="col-md-6 col-sm">

            <app-item-control titleControl="Actividad Económica">
              <dx-select-box [dataSource]="lsActEconomica()"
                             displayExpr="Descripcion"
                             [wrapItemText]="true"
                             valueExpr="ID"
                             formControlName="IDActEconomica"
                             [searchEnabled]="true"
              />
            </app-item-control>

          </div>
          <div class="col-md-6 col-sm">
            <app-item-control titleControl="Tipo Empresa">
              <dx-select-box [dataSource]="lsTipoEmpresa()"
                             displayExpr="Nombre"
                             [wrapItemText]="true"
                             valueExpr="ID"
                             formControlName="IDTipoEmpresa"
                             [searchEnabled]="true"
              />
            </app-item-control>
          </div>
        </section>
      }
      @case ('UBC') {
        <div class="row">
          <app-item-control class="col-md-6"
                            titleControl="Parroquía">
            <dx-select-box [dataSource]="parroquies()"
                           displayExpr="Descripcion"
                           valueExpr="ID"
                           formControlName="IDParroquia"
                           [wrapItemText]="true"
                           [searchEnabled]="true"
            />
          </app-item-control>

          <app-item-control class="col-md-6"
                            titleControl="Sector">
            <dx-select-box [dataSource]="sectors()"
                           displayExpr="Descripcion"
                           valueExpr="ID"
                           formControlName="IDSector"
                           [wrapItemText]="true"
                           [searchEnabled]="true"
            />
          </app-item-control>

        </div>

        <app-item-location-coordinate (markerPositions)="setLocation($event)"/>

        <section class="row">

          <div class="col-4">
            <app-item-control titleControl="Latitud">
              <dx-text-box formControlName="Latitud"
                           [readOnly]="true"
              />
            </app-item-control>
          </div>
          <div class="col-4">
            <app-item-control titleControl="Longitud">
              <dx-text-box formControlName="Longitud"
                           [readOnly]="true"
              />
            </app-item-control>
          </div>


          <div class="mt-4 col-md-12">
            @defer (on timer(1s)) {
              <dx-map [center]="centerMap"
                      [zoom]="zoomMap"
                      [height]="400"
                      width="100%"
                      provider="google"
                      [controls]="true"
                      [apiKey]="apiKey"
                      [type]="'roadmap'"
                      (onClick)="addMarker($event)"
                      [markers]="markerPositions()"
              />
            } @placeholder {
              <section class="my-3 py-2">
                <h3>
                  Cargando mapa...
                </h3>
              </section>
            }

          </div>
        </section>

      }
    }


  </app-card>

</form>

