<form [formGroup]="form"
      (ngSubmit)="submit()"
      [autocomplete]="false">
  <app-card [hidHeader]="true">
    <div class="row">
      <div class="col-md-12 d-flex flex-row flex-nowrap justify-content-between align-items-center ">
        <h5 class="font-weight-bold">
          {{ edit() ? 'Editar' : 'Nueva' }}  Empresa
        </h5>
        <section class="d-flex justify-content-end">
          <button type="reset" class="btn btn-danger"
                  (click)="cancel()">
            <i class="feather icon-toggle-left"></i>
            Cancelar
          </button>
          <button type="submit" class="btn btn-primary ms-2">
            <i class="feather icon-save"></i>
            Guardar
          </button>
        </section>
      </div>
    </div>
  </app-card>

  <dx-tabs [dataSource]="longTabs"
           [itemTemplate]="'tabItem'"
           [selectedIndex]="0"
           (onItemClick)="onItemClick($event)">

    <div *dxTemplate="let itemData of 'tabItem'">
      <i class="feather {{ itemData.icon }}"></i>
      {{ itemData.text }}
    </div>
  </dx-tabs>

  <app-card cardClass="mt-2" [hidHeader]="true">

    @switch (selectTab()) {
      @case ('INFB') {
        <div class="row">
          <div class="col-md-6">

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">RUC</label>
              <div class="col-sm-12">
                <dx-text-box maxLength="13"
                             formControlName="RUC"
                />
              </div>
            </div>

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Nombre Comercial</label>
              <div class="col-sm-12">
                <dx-text-box formControlName="NombreComercial"/>
              </div>
            </div>

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Razón Social</label>
              <div class="col-sm-12">
                <dx-text-box formControlName="RazonSocial"/>
              </div>
            </div>

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Tipo Permiso</label>
              <div class="col-sm-12">
                <dx-select-box [dataSource]="lsTypePerm()"
                               displayExpr="name"
                               valueExpr="type"
                               formControlName="TipoPermiso"
                />
              </div>
            </div>

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Estado</label>
              <div class="col-sm-12">
                <dx-select-box [dataSource]="status$ | async"
                               displayExpr="label"
                               valueExpr="value"
                               formControlName="Estado"
                               [searchEnabled]="true"
                />
              </div>
            </div>

          </div>
          <div class="col-md-6">

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Dirección</label>
              <div class="col-sm-12">
                <dx-text-box formControlName="Direccion"/>
              </div>
            </div>

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Referencia</label>
              <div class="col-sm-12">
                <dx-text-box formControlName="Referencia"/>
              </div>
            </div>

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Teléfono</label>
              <div class="col-sm-12">
                <dx-text-box formControlName="Telefono"/>
              </div>
            </div>

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Celular</label>
              <div class="col-sm-12">
                <dx-text-box formControlName="Celular"/>
              </div>
            </div>

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Email</label>
              <div class="col-sm-12">
                <dx-text-box formControlName="Email"/>
              </div>
            </div>

          </div>
        </div>
      }
      @case ('ENT') {
        <div class="row">

          <div class="col-md-12">
            <div class="pull-left">
              <label style="font-size: 1.45rem;">
                Entidad
              </label>

              <dx-button class="mx-5"
                         [text]="'Buscar Entidad'"
                         [icon]="'search'"
                         [type]="'success'"
                         (click)="loadModalEntidad()"
              />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12">
            <dx-form [formData]="entidad()"
                     [readOnly]="true"
                     colCount="2"
                     labelLocation="top">
              <dxi-item dataField="Identificacion"
                        [label]="{text:'Identificación'}"
              ></dxi-item>
              <dxi-item dataField="Nombres"></dxi-item>
              <dxi-item dataField="Apellidos"></dxi-item>
              <dxi-item dataField="Telefono"
                        [label]="{text:'Teléfono'}"
              ></dxi-item>
              <dxi-item dataField="Celular"
                        [label]="{text:'Celular'}"
              ></dxi-item>
              <dxi-item dataField="Email"></dxi-item>
              <dxi-item dataField="Direccion"
                        [label]="{text:'Dirección'}"
                        editorType="dxTextArea"
                        [editorOptions]="{ height: 60 }"
                        [colSpan]="2"
              ></dxi-item>
            </dx-form>
          </div>
        </div>
      }
      @case ('ACTE') {
        <div class="row">
          <div class="col-md-6">
            <h3 class="sub-title text-c-blue font-weight-bold">
              Organización
            </h3>

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Actividad Económica</label>
              <div class="col-sm-10 pr-0">

                <dx-select-box [dataSource]="lsActEconomica"
                               displayExpr="Descripcion"
                               valueExpr="ID"
                               formControlName="IDActEconomica"
                               [searchEnabled]="true"
                ></dx-select-box>

              </div>
            </div>

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Tipo Empresa</label>
              <div class="col-sm-10 pr-0">
                <dx-select-box [dataSource]="lsTipoEmpresa"
                               displayExpr="Nombre"
                               valueExpr="ID"
                               formControlName="IDTipoEmpresa"
                               [searchEnabled]="true"
                ></dx-select-box>
              </div>
            </div>

          </div>
          <div class="col-md-6">
            <h3 class="sub-title text-c-blue font-weight-bold">
              Tarifario
            </h3>

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Grupo</label>
              <div class="col-sm-10 pr-0">
                <dx-select-box [dataSource]="lsGrupo()"
                               displayExpr="Nombre"
                               valueExpr="ID"
                               formControlName="IDTarifaGrupo"
                               [searchEnabled]="true"
                ></dx-select-box>
              </div>
            </div>

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Actividad</label>
              <div class="col-sm-10 pr-0">
                <dx-select-box [dataSource]="lsActividad()"
                               displayExpr="Nombre"
                               valueExpr="ID"
                               formControlName="IDTarifaActividad"
                               [searchEnabled]="true"
                ></dx-select-box>
              </div>
            </div>

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Categoría</label>
              <div class="col-sm-10 pr-0">
                <dx-select-box [dataSource]="lsCategoria()"
                               displayExpr="Nombre"
                               valueExpr="ID"
                               formControlName="IDTarifaCategoria"
                               [searchEnabled]="true"
                ></dx-select-box>
              </div>
            </div>

          </div>
        </div>
      }
      @case ('UBC') {
        <div class="row">
          <div class="col-md-12">
            <div class="pull-right">
              <button type="button"
                      class="btn btn-sm btn-danger"
                      (click)="refreshCombo$.next('Location')">
                <!--              <icofont ico="icofont-refresh"></icofont>-->
                Refrescar Catalogos
              </button>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Provincia</label>
              <div class="col-sm-12">
                <dx-select-box [dataSource]="lsProvincias"
                               displayExpr="Descripcion"
                               valueExpr="ID"
                               formControlName="IDProvincia"
                               [searchEnabled]="true"
                ></dx-select-box>
              </div>
            </div>

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Cantón</label>
              <div class="col-sm-12">
                <dx-select-box [dataSource]="lsCanton"
                               displayExpr="Descripcion"
                               valueExpr="ID"
                               formControlName="IDCanton"
                               [searchEnabled]="true"
                ></dx-select-box>
              </div>
            </div>

          </div>
          <div class="col-md-6">

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Parroquía</label>
              <div class="col-sm-12">
                <dx-select-box [dataSource]="lsParroquia"
                               displayExpr="Descripcion"
                               valueExpr="ID"
                               formControlName="IDParroquia"
                               [searchEnabled]="true"
                ></dx-select-box>
              </div>
            </div>

            <div class="form-group form-default row">
              <label class="col-sm-12 col-form-label">Sector</label>
              <div class="col-sm-12">
                <dx-select-box [dataSource]="lsSector"
                               displayExpr="Descripcion"
                               valueExpr="ID"
                               formControlName="IDSector"
                               [searchEnabled]="true"
                ></dx-select-box>
              </div>
            </div>

          </div>
        </div>
      }
      @case ('MPS') {
        <div class="row">

          <div class="col-4">
            <app-item-control titleControl="Latitud">
              <dx-text-box formControlName="Latitud" />
            </app-item-control>
          </div>
          <div class="col-4">
            <app-item-control titleControl="Longitud">
              <dx-text-box formControlName="Longitud" />
            </app-item-control>
          </div>

          <div class="mt-4 col-md-12">
            @if (apiLoaded | async) {
              <google-map [zoom]="zoomMap"
                          [center]="centerMap"
                          (mapClick)="addMarker($event)"
                          [width]="'100%'">
                @for (position of markerPositions; track position) {
                  <map-marker [position]="position"
                              [options]="markerOptions"/>
                }
              </google-map>
            } @else {
              Cargando Mapa...
            }
            <!--
            <agm-map (mapClick)="selectMarcador($event)"
                     [latitude]="lat"
                     [longitude]="lng"
                     [zoom]="17"
                     style="height: 450px;">

              <agm-marker *ngFor="let coord of lsMarcardoresMaps"
                          [latitude]="coord.lat"
                          [longitude]="coord.lng">
                <agm-info-window [isOpen]="true">
                  <h5 class="font-weight-bold">
                    Ubicación de la empresa
                  </h5>
                </agm-info-window>
              </agm-marker>

            </agm-map>
            -->

          </div>
        </div>
      }
    }


  </app-card>

</form>

