<app-card [cardTitle]="'Empresa'">
  <dx-data-grid [dataSource]="gridDataSource"
                [columnAutoWidth]="true"
                [columnMinWidth]="80"
                [hoverStateEnabled]="true"
                [rowAlternationEnabled]="true"
                [searchPanel]="{visible:true}"
                [filterRow]="{visible:true}"
                [loadPanel]="{enabled:true}"
                (onToolbarPreparing)="onToolbarPreparing($event)"
                [showBorders]="true">
    <dxo-remote-operations
      [groupPaging]="true"
    ></dxo-remote-operations>

    <dxo-paging [pageSize]="10"></dxo-paging>
    <dxo-pager
      [showPageSizeSelector]="true"
      [allowedPageSizes]="[10, 20, 40, 60]"
      [showInfo]="true">
    </dxo-pager>

    <dxi-column caption="Opciones"
                [width]="120"
                [allowFiltering]="false"
                [allowExporting]="false"
                [fixed]="true"
                [allowSorting]="false"
                cellTemplate="cellOptionsTemplate">
    </dxi-column>
    <dxi-column dataField="RUC"
    ></dxi-column>
    <dxi-column dataField="NombreComercial"
    ></dxi-column>
    <dxi-column dataField="RazonSocial"
    ></dxi-column>
    <dxi-column dataField="idActEconomica.Descripcion"
                caption="Actividad Económica">
    </dxi-column>
    <dxi-column dataField="idTipoEmpresa.Nombre"
                caption="Tipo Empresa">
    </dxi-column>

    <div *dxTemplate="let data of 'cellOptionsTemplate'">
      <div class="btn-group-icons">
        <ng-container *ngIf="data.data?.Estado !== 'INA'; else activeRegister">
          <dx-button icon="edit"
                     (onClick)="edit(data.data.ID)"
          ></dx-button>

          <dx-button icon="trash"
                     (onClick)="delete(data.data)"
          ></dx-button>
        </ng-container>
        <ng-template #activeRegister>
          <dx-button icon="check"
                     (onClick)="reactivar(data.data)"
          ></dx-button>
        </ng-template>
      </div>
      <!--<div class="btn-group-icons" *ngIf="data.data?.Estado == 'INA'">
        <icofont ico="icofont icofont-check m-r-15 f-20 text-success cursor-pointer"
                 (click)="reactivar(data.data)"
                 ngbTooltip="Reactivar"
        ></icofont>
      </div>
      <div class="btn-group-icons" *ngIf="data.data?.Estado == 'ACT'">
        <icofont ico="icofont icofont-edit m-r-15 f-20 text-primary cursor-pointer"
                 [routerLink]="['./new/', data.data.ID]"
                 ngbTooltip="Editar"
        ></icofont>
        <icofont ico="icofont icofont-trash m-r-15 f-20 text-danger cursor-pointer"
                 (click)="delete(data.data)"
                 ngbTooltip="Inactivar"
        ></icofont>
      </div>-->
    </div>
  </dx-data-grid>
</app-card>

