<app-card [cardTitle]="'Filtros'" cardClass="mb-3">

  <form [formGroup]="itemFilter">

    <section class="d-flex flex-row gap-1 mb-3">
      <app-item-control [titleControl]="'Grupo'">
        <dx-select-box [dataSource]="lsGrupo()"
                       displayExpr="Nombre"
                       valueExpr="ID"
                       formControlName="IDTarifaGrupo"
                       [searchEnabled]="true"
        />
      </app-item-control>

      <app-item-control [titleControl]="'Actividad'">
        <dx-select-box [dataSource]="lsActividad()"
                       displayExpr="Nombre"
                       valueExpr="ID"
                       formControlName="IDTarifaActividad"
                       [searchEnabled]="true"
                       [showClearButton]="true"
        />
      </app-item-control>
    </section>

    <section class="d-flex flex-row gap-1 mb-3">
      <app-item-control [titleControl]="'Sector'">
        <dx-select-box [dataSource]="lsGrupo()"
                       displayExpr="Nombre"
                       valueExpr="ID"
                       formControlName="IDTarifaGrupo"
                       [searchEnabled]="true"
        />
      </app-item-control>

      <app-item-control [titleControl]="'Dirección'">
        <dx-text-box placeholder="Ej: San Camilo"></dx-text-box>
      </app-item-control>
    </section>


  </form>

  <section class="d-flex justify-content-end gap-2">
    @if (existRegister()) {
      <button class="btn btn-outline-success"
              type="button"
              appDebounceClick
              (debounceClick)="clearScreen()">
        <i class="far fa-refresh"></i>
        Volver a consultar
      </button>

    } @else {
      <button class="btn btn-outline-danger"
              type="button"
              appDebounceClick
              (debounceClick)="clearFiltersForm()">
        <i class="fa fa-trash"></i>
        Limpiar filtros
      </button>
      <button class="btn btn-outline-primary"
              type="button"
              appDebounceClick
              (debounceClick)="searchItems()">
        <i class="fa fa-search"></i>
        Consultar registros
      </button>
    }

  </section>

</app-card>

<app-card [cardTitle]="'Listado de Empresas'">

  <form [formGroup]="itemInspectionGroup">

    <section class="d-flex flex-row gap-2">
      <app-item-control [titleControl]="'Colaboradores'">
        <dx-select-box [dataSource]="lsColaborador$ | async"
                       valueExpr="ID"
                       displayExpr="Colaborador"
                       formControlName="idInspector"
        />
      </app-item-control>
      <app-item-control [titleControl]="'Fecha Tentativa'">
        <dx-date-box formControlName="dateTentative"
                     displayFormat="yyyy-mm-dd"
        />
      </app-item-control>
    </section>


    <section class="d-flex justify-content-between align-items-center mt-3">
      <p>
        Cantidad de items seleccionados: {{ lsSelectedItems().length }}
      </p>
      <button class="btn btn-outline-success"
              appDebounceClick
              (debounceClick)="generateInspections()"
              type="button">
        <i class="far fa-save"></i>
        Crear Inspecciones
      </button>
    </section>

  </form>

  <hr class="my-3">

  <dx-data-grid [dataSource]="lsItemsDataGrid()"
                keyExpr="ID"
                [columnAutoWidth]="true"
                [columnMinWidth]="80"
                [hoverStateEnabled]="true"
                [rowAlternationEnabled]="true"
                [searchPanel]="{visible:true}"
                [loadPanel]="{enabled:true}"
                [headerFilter]="{visible:true}"
                (selectedRowKeysChange)="lsSelectedItems.set($event)"
                [showBorders]="true">

    <dxo-selection [showCheckBoxesMode]="'onClick'"
                   [selectAllMode]="'allPages'"
                   mode="multiple"
    />

    <dxo-paging [pageSize]="10"/>
    <dxo-pager [showPageSizeSelector]="true"
               [allowedPageSizes]="[10, 20, 40, 60]"
               [showInfo]="true"
    />

    <dxi-column dataField="RUC"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="NombreComercial"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="EntidadRazonSocial"
                [allowHeaderFiltering]="false"
    />
    <dxi-column dataField="Sector"/>
    <dxi-column dataField="Grupo"/>
    <dxi-column dataField="Actividad"/>
  </dx-data-grid>
</app-card>
