.container-page {
  height: 100dvh;
  display: grid;
  grid-template-rows: 60px auto 55px;

  header {
    border: 1px solid #E6E6E6
  }

  main {
    display: grid;
    place-content: center;
  }

  footer {
    width: 100%;
    color: #ffffff;
    background-color: #4680ff;
    font-weight: bold;

    display: grid;
    place-content: center;
  }

  .form-login {
    border: 1px solid #E6E6E6;
    padding: 2rem;
    border-radius: 2px;
    width: 450px;
  }
}
