<app-card [cardTitle]="'Entidad'">
  <dx-data-grid id="gridEntityList"
                [dataSource]="gridDataSource"
                [columnAutoWidth]="true"
                [columnMinWidth]="80"
                [hoverStateEnabled]="true"
                [rowAlternationEnabled]="true"
                [allowColumnReordering]="true"
                [loadPanel]="{enabled:true}"
                [filterPanel]="{visible:true}"
                [syncLookupFilterValues]="false"
                (onToolbarPreparing)="onToolbarPreparing($event)"
                [searchPanel]="{visible:true}"
                [sorting]="{mode: 'none'}"
                [filterRow]="{visible:true}"
                [columnChooser]="{enabled: true, mode:'select'}"
                [showBorders]="true">

    <dxo-remote-operations [paging]="true"
                           [filtering]="true"
    />
    <dxo-state-storing
      [enabled]="true"
      type="localStorage"
      storageKey="gridEntityList"
    />
    <dxo-paging [pageSize]="10"/>
    <dxo-pager [showPageSizeSelector]="true"
               [allowedPageSizes]="[10, 20, 40, 60]"
               [showInfo]="true"
    />

    <dxo-load-panel [enabled]="true"></dxo-load-panel>

    <dxi-column caption="Opciones"
                [width]="120"
                [showInColumnChooser]="false"
                [allowFiltering]="false"
                [allowExporting]="false"
                [fixed]="true"
                [allowSorting]="false"
                alignment="center"
                cellTemplate="cellOptionsTemplate"
    />
    <dxi-column dataField="Identificacion"
                caption="Identificación"
    />
    <dxi-column dataField="EntidadRazonSocial"
                caption="Razon Social"
    />

    <dxi-column dataField="Email"
                caption="Correo Electrónico"
    />

    <dxi-column dataField="Telefono"
                caption="Teléfono"
    />

    <dxi-column dataField="Celular"
                caption="Celular"
    />

    <dxi-column dataField="Tipo"
                caption="Tipo Entidad"
                alignment="center">
      <dxo-lookup [dataSource]="lsTipoEntidad()"
                  valueExpr="value"
                  displayExpr="label"
      />
    </dxi-column>
    <dxi-column dataField="Estado"
                alignment="center">
      <dxo-lookup [dataSource]="lsStatus()"
                  valueExpr="value"
                  displayExpr="label"
      />
    </dxi-column>

    <div *dxTemplate="let data of 'cellOptionsTemplate'">
      <div class="btn-group-icons">
        <ng-container *ngIf="data.data.Estado != 'INA'; else activarRegistro">
          <dx-button icon="edit"
                     (onClick)="edit(data.data)"
          />

          <dx-button icon="trash"
                     (onClick)="delete(data.data)"
          />
        </ng-container>

      </div>
      <ng-template #activarRegistro>
        <dx-button icon="check"
                   (onClick)="reactivar(data.data)"
        />
      </ng-template>
    </div>
  </dx-data-grid>

</app-card>

