@import "settings/theme-variables";
@import "font/feather";
@import "bagde/badge";

.font-weight-bold {
  font-weight: bold;
}

.font-weight {
  &-400 {
    font-weight: 400;
  }

  &-500 {
    font-weight: 500;
  }

  &-600 {
    font-weight: 600;
  }
}


.text-c {
  &-pending {
    color: #d59a18;
  }

  &-approved {
    color: #035e11;
  }

  &-failed {
    color: #de3a09;
  }

  &-deleted {
    color: #a11bc8;
  }
}
