<app-card cardTitle="Listado de Vehículos">
  <dx-data-grid [dataSource]="gridDataSource"
                [columnAutoWidth]="true"
                [columnMinWidth]="80"
                [hoverStateEnabled]="true"
                [rowAlternationEnabled]="true"
                [searchPanel]="{visible:true}"
                [filterRow]="{visible:false}"
                [loadPanel]="{enabled:true}"
                [syncLookupFilterValues]="false"
                (onToolbarPreparing)="onToolbarPreparing($event)"
                [showBorders]="true">

    <dxo-remote-operations [paging]="true"
                           [filtering]="true"
    />

    <dxo-paging [pageSize]="10"/>
    <dxo-pager [showPageSizeSelector]="true"
               [allowedPageSizes]="[10, 20, 40, 60]"
               [showInfo]="true"
    />

    <dxi-column caption="Opciones"
                [width]="120"
                [allowFiltering]="false"
                [allowExporting]="false"
                [fixed]="true"
                [allowSorting]="false"
                alignment="center"
                cellTemplate="cellOptionsTemplate"
    />
    <dxi-column dataField="current_plate" caption="Placa Actual"/>
    <dxi-column dataField="previous_plate" caption="Placa Anterior"/>
    <dxi-column dataField="entity" caption="Responsable"/>
    <dxi-column dataField="year_manufacture" caption="Año Fabricación"/>
    <dxi-column dataField="type" caption="Tipo"/>
    <dxi-column dataField="brand" caption="Marca"/>
    <dxi-column dataField="model" caption="Modelo"/>
    <dxi-column dataField="class" caption="Clase"/>
    <dxi-column dataField="tonnage" caption="Tonelada"/>
    <dxi-column dataField="count_passengers" caption="Pasajeros"/>
    <dxi-column dataField="color_one_id" caption="Color Primario">
      <dxo-lookup [dataSource]="lsColors$ | async"
                  valueExpr="ID"
                  displayExpr="description"
      />
    </dxi-column>
    <dxi-column dataField="color_two_id" caption="Color Secundario">
      <dxo-lookup [dataSource]="lsColors$ | async"
                  valueExpr="ID"
                  displayExpr="description"
      />
    </dxi-column>
    <dxi-column dataField="state"
                caption="Estado"
                alignment="center">
      <dxo-lookup [dataSource]="lsStatus"
                  valueExpr="value"
                  displayExpr="label"
      />
    </dxi-column>

    <div *dxTemplate="let data of 'cellOptionsTemplate'">
      <div class="btn-group-icons">
        @if (data.data?.state === 'ACT') {
          <dx-button icon="edit"
                     hint="Editar"
                     (onClick)="edit(data.data.id)"
          />

          <dx-button icon="trash"
                     hint="Eliminar"
                     (onClick)="delete(data.data)"
          />
        }
      </div>
    </div>
  </dx-data-grid>
</app-card>
