<app-card [cardTitle]="'Formulario'">

  <dx-data-grid [dataSource]="lsRows()"
                [remoteOperations]="false"
                [columnAutoWidth]="true"
                [hoverStateEnabled]="true"
                [rowAlternationEnabled]="true"
                (onInitialized)="refreshTable$.next()"
                (onToolbarPreparing)="onToolbarPreparing($event)"
                [showBorders]="true"
                [searchPanel]="{visible:true}"
                [headerFilter]="{visible:true}"
                [filterRow]="{visible:true}">


    <dxo-export [enabled]="true"
                [fileName]="'Formulario'"
                [allowExportSelectedData]="false"
    />

    <dxo-paging [pageSize]="10"
    />
    <dxo-pager [showPageSizeSelector]="true"
               [allowedPageSizes]="[10, 20, 30]"
               [showInfo]="true"
    />

    <dxi-column caption="Opciones"
                [width]="180"
                [allowFiltering]="false"
                [allowExporting]="false"
                [fixed]="true"
                [allowSorting]="false"
                cellTemplate="cellOptionsTemplate"
    />
    <dxi-column dataField="Descripcion"
                [allowHeaderFiltering]="false"
                caption="Descripción"
    />
    <dxi-column dataField="Observacion"
                [allowHeaderFiltering]="false"
                caption="Observación"
    />
    <dxi-column dataField="TipoInspeccion"
                [allowHeaderFiltering]="true"
                [allowFiltering]="false"
                alignment="center"
    />
    <dxi-column dataField="Estado"
                [allowHeaderFiltering]="true"
                alignment="center">
      <dxo-lookup [dataSource]="lsEstados$ | async"
                  valueExpr="value"
                  displayExpr="label"
      />
    </dxi-column>
    <dxi-column dataField="created_at"
                [allowHeaderFiltering]="false"
                caption="Fecha Creación"
                dataType="datetime"
                format="yyyy, MMMM dd"
    />
    <dxi-column dataField="updated_at"
                [allowHeaderFiltering]="false"
                caption="Última Modificación"
                dataType="datetime"
                format="yyyy, MMMM dd"
    />


    <div *dxTemplate="let data of 'cellOptionsTemplate'">
      <div class="btn-group-icons">

        <dx-button icon="edit"
                   (onClick)="edit(data.data)"
                   hint="Editar"
        />

        <dx-button icon="preferences"
                   *ngIf="data.data.updated_at != data.data.firebase_at"
                   [routerLink]="['../config', data.data.ID]"
                   hint="Configurar formulario"
        />

        <ng-container *ngIf="data.data?.Estado == 'ACT'">
          <dx-button icon="upload"
                     *ngIf="data.data.updated_at != data.data.firebase_at"
                     (onClick)="synchronize(data.data)"
                     hint="Sincronizar"
          />
          <dx-button icon="trash"
                     (onClick)="delete(data.data)"
                     hint="Eliminar"
          ></dx-button>
        </ng-container>

      </div>
    </div>
  </dx-data-grid>

</app-card>
