<!--<section class="layout">
  <div class="header">
    <app-navbar class="navbar pcoded-header navbar-expand-lg navbar-light header-blue headerpos-fixed"
                (onNavCollapse)="this.navCollapsed = !this.navCollapsed;"
                (onNavHeaderMobCollapse)="navMobClick()" />
  </div>
  <div class="leftSide">
    <app-navigation class="pcoded-navbar"
                    [ngClass]="{'navbar-collapsed' : navCollapsed, 'theme-horizontal': false, 'mob-open' : navCollapsedMob}"
                    (onNavMobCollapse)="navMobClick()"
    />
  </div>
  <div class="body">
    <router-outlet></router-outlet>
  </div>
  <footer class="footer">4</footer>
</section>-->


<app-navbar class="navbar pcoded-header navbar-expand-lg navbar-light header-blue headerpos-fixed"
            (onNavCollapse)="this.navCollapsed = !this.navCollapsed;"
            (onNavHeaderMobCollapse)="navMobClick()"/>
<app-navigation class="pcoded-navbar"
                [ngClass]="{'navbar-collapsed' : navCollapsed, 'theme-horizontal': false, 'mob-open' : navCollapsedMob}"
                (onNavMobCollapse)="navMobClick()"/>
<div class="pcoded-main-container">
  <div class="pcoded-content">
    <!--    <app-breadcrumb></app-breadcrumb>-->
    <router-outlet></router-outlet>
  </div>
</div>
